/* Matugen Dynamic Firefox Theme */

:root {
    /* Hex colors */
    
    --background: #0f1512;
    
    --error: #ffb4ab;
    
    --error_container: #93000a;
    
    --inverse_on_surface: #2c322e;
    
    --inverse_primary: #1e6b4f;
    
    --inverse_surface: #dee4de;
    
    --on_background: #dee4de;
    
    --on_error: #690005;
    
    --on_error_container: #ffdad6;
    
    --on_primary: #003827;
    
    --on_primary_container: #a7f2cf;
    
    --on_primary_fixed: #002115;
    
    --on_primary_fixed_variant: #00513a;
    
    --on_secondary: #1f352b;
    
    --on_secondary_container: #cfe9da;
    
    --on_secondary_fixed: #092017;
    
    --on_secondary_fixed_variant: #354b41;
    
    --on_surface: #dee4de;
    
    --on_surface_variant: #bfc9c2;
    
    --on_tertiary: #083544;
    
    --on_tertiary_container: #c1e8fc;
    
    --on_tertiary_fixed: #001f2a;
    
    --on_tertiary_fixed_variant: #254b5b;
    
    --outline: #8a938d;
    
    --outline_variant: #404944;
    
    --primary: #8cd5b4;
    
    --primary_container: #00513a;
    
    --primary_fixed: #a7f2cf;
    
    --primary_fixed_dim: #8cd5b4;
    
    --scrim: #000000;
    
    --secondary: #b3ccbe;
    
    --secondary_container: #354b41;
    
    --secondary_fixed: #cfe9da;
    
    --secondary_fixed_dim: #b3ccbe;
    
    --shadow: #000000;
    
    --source_color: #1f201f;
    
    --surface: #0f1512;
    
    --surface_bright: #353b37;
    
    --surface_container: #1b211e;
    
    --surface_container_high: #252b28;
    
    --surface_container_highest: #303633;
    
    --surface_container_low: #171d1a;
    
    --surface_container_lowest: #0a0f0d;
    
    --surface_dim: #0f1512;
    
    --surface_tint: #8cd5b4;
    
    --surface_variant: #404944;
    
    --tertiary: #a6ccdf;
    
    --tertiary_container: #254b5b;
    
    --tertiary_fixed: #c1e8fc;
    
    --tertiary_fixed_dim: #a6ccdf;
    

    /* RGB values (very useful for transparency) */
    
    --background-rgb: 15 21 18;
    
    --error-rgb: 255 180 171;
    
    --error_container-rgb: 147 0 10;
    
    --inverse_on_surface-rgb: 44 50 46;
    
    --inverse_primary-rgb: 30 107 79;
    
    --inverse_surface-rgb: 222 228 222;
    
    --on_background-rgb: 222 228 222;
    
    --on_error-rgb: 105 0 5;
    
    --on_error_container-rgb: 255 218 214;
    
    --on_primary-rgb: 0 56 39;
    
    --on_primary_container-rgb: 167 242 207;
    
    --on_primary_fixed-rgb: 0 33 21;
    
    --on_primary_fixed_variant-rgb: 0 81 58;
    
    --on_secondary-rgb: 31 53 43;
    
    --on_secondary_container-rgb: 207 233 218;
    
    --on_secondary_fixed-rgb: 9 32 23;
    
    --on_secondary_fixed_variant-rgb: 53 75 65;
    
    --on_surface-rgb: 222 228 222;
    
    --on_surface_variant-rgb: 191 201 194;
    
    --on_tertiary-rgb: 8 53 68;
    
    --on_tertiary_container-rgb: 193 232 252;
    
    --on_tertiary_fixed-rgb: 0 31 42;
    
    --on_tertiary_fixed_variant-rgb: 37 75 91;
    
    --outline-rgb: 138 147 141;
    
    --outline_variant-rgb: 64 73 68;
    
    --primary-rgb: 140 213 180;
    
    --primary_container-rgb: 0 81 58;
    
    --primary_fixed-rgb: 167 242 207;
    
    --primary_fixed_dim-rgb: 140 213 180;
    
    --scrim-rgb: 0 0 0;
    
    --secondary-rgb: 179 204 190;
    
    --secondary_container-rgb: 53 75 65;
    
    --secondary_fixed-rgb: 207 233 218;
    
    --secondary_fixed_dim-rgb: 179 204 190;
    
    --shadow-rgb: 0 0 0;
    
    --source_color-rgb: 31 32 31;
    
    --surface-rgb: 15 21 18;
    
    --surface_bright-rgb: 53 59 55;
    
    --surface_container-rgb: 27 33 30;
    
    --surface_container_high-rgb: 37 43 40;
    
    --surface_container_highest-rgb: 48 54 51;
    
    --surface_container_low-rgb: 23 29 26;
    
    --surface_container_lowest-rgb: 10 15 13;
    
    --surface_dim-rgb: 15 21 18;
    
    --surface_tint-rgb: 140 213 180;
    
    --surface_variant-rgb: 64 73 68;
    
    --tertiary-rgb: 166 204 223;
    
    --tertiary_container-rgb: 37 75 91;
    
    --tertiary_fixed-rgb: 193 232 252;
    
    --tertiary_fixed_dim-rgb: 166 204 223;
    
}
