/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */
@import "matugen/colors.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family:
    "Agave Nerd Font", "Fira Sans Semibold", FontAwesome, Roboto, Helvetica,
    Arial,@import "../../matugen/colors.css";

/* ============================================= */
/* ==================== BASE ==================== */
/* ============================================= */
* {
    font-family: "Agave Nerd Font", "Fira Sans Semibold", "FontAwesome", "Roboto", Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
    font-size: 16px;
}

window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* ============================================= */
/* ==================== WORKSPACES ==================== */
/* ============================================= */
#workspaces {
    background: @background;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    font-weight: bold;
    opacity: 0.8;
    color: @on_surface;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    color: @on_surface;
    background-color: @surface_variant;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @on_primary;
    background: @primary;
    border-radius: 15px;
    min-width: 40px;
    opacity: 1;
}

#workspaces button:hover {
    color: @on_surface;
    background: @surface_variant;
    opacity: 0.7;
}

/* ============================================= */
/* ==================== TOOLTIP ==================== */
/* ============================================= */
tooltip {
    border-radius: 10px;
    background-color: @surface_variant;
    opacity: 0.95;
    padding: 20px;
}

tooltip label {
    color: @on_surface;
}

/* ============================================= */
/* ==================== WINDOW TITLE ==================== */
/* ============================================= */
#window {
    background: @surface_variant;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color: @on_surface;
    font-weight: normal;
    opacity: 0.8;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* ============================================= */
/* ==================== MODULES ==================== */
/* ============================================= */
#battery,
#pulseaudio,
#backlight,
#network,
#clock,
#disk,
#memory,
#cpu,
#language,
#tray,
#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes,
#custom-appmenu,
#custom-exit,
#custom-updates {
    color: @on_surface;
@import "../../matugen/colors.css";

/* ============================================= */
/* ==================== BASE ==================== */
/* ============================================= */
* {
    font-family: "Agave Nerd Font", "Fira Sans Semibold", "FontAwesome", "Roboto", Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
    font-size: 16px;
}

window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* ============================================= */
/* ==================== WORKSPACES ==================== */
/* ============================================= */
#workspaces {
    background: @background;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    font-weight: bold;
    opacity: 0.8;
    color: @on_surface;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    color: @on_surface;
    background-color: @surface_variant;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @on_primary;
    background: @primary;
    border-radius: 15px;
    min-width: 40px;
    opacity: 1;
}

#workspaces button:hover {
    color: @on_surface;
    background: @surface_variant;
    opacity: 0.7;
}

/* ============================================= */
/* ==================== TOOLTIP ==================== */
/* ============================================= */
tooltip {
    border-radius: 10px;
    background-color: @surface_variant;
    opacity: 0.95;
    padding: 20px;
}

tooltip label {
    color: @on_surface;
}

/* ============================================= */
/* ==================== WINDOW TITLE ==================== */
/* ============================================= */
#window {
    background: @surface_variant;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color: @on_surface;
    font-weight: normal;
    opacity: 0.8;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* ============================================= */
/* ==================== MODULES ==================== */
/* ============================================= */
#battery,
#pulseaudio,
#backlight,
#network,
#clock,
#disk,
#memory,
#cpu,
#language,
#tray,
#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes,
#custom-appmenu,
#custom-exit,
#custom-updates {
    color: @on_surface;
    background-color: @surface
