* {
  font-family:
    "Agave Nerd Font Propo", "DM Sans", "JetBrainsMono Nerd Font Propo",
    sans-serif;
  font-size: 18px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.4);
}

#network,
#pulseaudio,
#battery {
  margin: 0 25px 0 0;
}

#custom-time {
  margin-left: 25px;
}

.modules-right {
  margin-right: 22px;
}

#workspaces button {
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background-color: #e8eaed;
  color: #121212;
  border-radius: 100px;
  padding: 0px 20px 0px 20px;
}

#custom-launcher {
  margin: 0 20px 0 20px;
}

#clock {
  background-color: #e8eaed;
  color: #121212;
  padding: 2px 10px;
  margin: 4px 0 4px 0;
  border-radius: 3px;
}

#custom-special {
  margin-left: 8px;
  padding: 0 8px;
  color: #e8eaed;
  opacity: 0.85;
  transition: all 0.2s ease-in-out;
}

#custom-special.active {
  background-color: #e8eaed;
  color: #121212;
  border-radius: 100px;
  padding: 0 12px;
  opacity: 1;
}
