@import "../../matugen/colors.css";

/* ============================================= */
/* ==================== BASE ==================== */
/* ============================================= */
* {
  font-size: 17px;
  font-family: "Agave Propo", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: 500;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.4);
}

/* ============================================= */
/* ==================== MODULES ==================== */
/* ============================================= */
#network,
#pulseaudio,
#battery {
  margin: 0 25px 0 0;
}

.modules-right {
  margin-right: 22px;
}

#custom-launcher {
  margin: 0 20px 0 20px;
}

#custom-media {
  font-weight: 700;
}

/* ============================================= */
/* ==================== WORKSPACES ==================== */
/* ============================================= */
#workspaces button {
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background-color: @primary;
  color: @on_primary;
  border-radius: 100px;
  padding: 0px 20px;
  font-weight: 800;
}

/* ============================================= */
/* ==================== CLOCK ==================== */
/* ============================================= */
#clock {
  font-weight: 600;
  background-color: @primary;
  color: @on_primary;
  padding: 2px 10px;
  margin: 4px 0 4px 0;
  border-radius: 3px;
  font-weight: bold;
}

/* ============================================= */
/* ==================== CUSTOM TIME ==================== */
/* ============================================= */
#custom-time {
  margin-left: 25px;
  font-weight: 600;
}
