/* Matugen Dynamic Chrome Theme */

:root {
    /* Hex colors */
    
    --matugen-background: #1a120d;
    
    --matugen-error: #ffb4ab;
    
    --matugen-error_container: #93000a;
    
    --matugen-inverse_on_surface: #382e29;
    
    --matugen-inverse_primary: #8c4f26;
    
    --matugen-inverse_surface: #f0dfd7;
    
    --matugen-on_background: #f0dfd7;
    
    --matugen-on_error: #690005;
    
    --matugen-on_error_container: #ffdad6;
    
    --matugen-on_primary: #522300;
    
    --matugen-on_primary_container: #ffdbc8;
    
    --matugen-on_primary_fixed: #321300;
    
    --matugen-on_primary_fixed_variant: #6f3811;
    
    --matugen-on_secondary: #432b1c;
    
    --matugen-on_secondary_container: #ffdbc8;
    
    --matugen-on_secondary_fixed: #2b1709;
    
    --matugen-on_secondary_fixed_variant: #5c4131;
    
    --matugen-on_surface: #f0dfd7;
    
    --matugen-on_surface_variant: #d7c2b8;
    
    --matugen-on_tertiary: #333209;
    
    --matugen-on_tertiary_container: #e8e5ac;
    
    --matugen-on_tertiary_fixed: #1d1d00;
    
    --matugen-on_tertiary_fixed_variant: #49491e;
    
    --matugen-outline: #9f8d84;
    
    --matugen-outline_variant: #52443c;
    
    --matugen-primary: #ffb68a;
    
    --matugen-primary_container: #6f3811;
    
    --matugen-primary_fixed: #ffdbc8;
    
    --matugen-primary_fixed_dim: #ffb68a;
    
    --matugen-scrim: #000000;
    
    --matugen-secondary: #e5bfa9;
    
    --matugen-secondary_container: #5c4131;
    
    --matugen-secondary_fixed: #ffdbc8;
    
    --matugen-secondary_fixed_dim: #e5bfa9;
    
    --matugen-shadow: #000000;
    
    --matugen-source_color: #c08f72;
    
    --matugen-surface: #1a120d;
    
    --matugen-surface_bright: #413732;
    
    --matugen-surface_container: #261e19;
    
    --matugen-surface_container_high: #312823;
    
    --matugen-surface_container_highest: #3d332d;
    
    --matugen-surface_container_low: #221a15;
    
    --matugen-surface_container_lowest: #140d08;
    
    --matugen-surface_dim: #1a120d;
    
    --matugen-surface_tint: #ffb68a;
    
    --matugen-surface_variant: #52443c;
    
    --matugen-tertiary: #cbc992;
    
    --matugen-tertiary_container: #49491e;
    
    --matugen-tertiary_fixed: #e8e5ac;
    
    --matugen-tertiary_fixed_dim: #cbc992;
    

    /* RGB values (great for transparency) */
    
    --matugen-background-rgb: 26 18 13;
    
    --matugen-error-rgb: 255 180 171;
    
    --matugen-error_container-rgb: 147 0 10;
    
    --matugen-inverse_on_surface-rgb: 56 46 41;
    
    --matugen-inverse_primary-rgb: 140 79 38;
    
    --matugen-inverse_surface-rgb: 240 223 215;
    
    --matugen-on_background-rgb: 240 223 215;
    
    --matugen-on_error-rgb: 105 0 5;
    
    --matugen-on_error_container-rgb: 255 218 214;
    
    --matugen-on_primary-rgb: 82 35 0;
    
    --matugen-on_primary_container-rgb: 255 219 200;
    
    --matugen-on_primary_fixed-rgb: 50 19 0;
    
    --matugen-on_primary_fixed_variant-rgb: 111 56 17;
    
    --matugen-on_secondary-rgb: 67 43 28;
    
    --matugen-on_secondary_container-rgb: 255 219 200;
    
    --matugen-on_secondary_fixed-rgb: 43 23 9;
    
    --matugen-on_secondary_fixed_variant-rgb: 92 65 49;
    
    --matugen-on_surface-rgb: 240 223 215;
    
    --matugen-on_surface_variant-rgb: 215 194 184;
    
    --matugen-on_tertiary-rgb: 51 50 9;
    
    --matugen-on_tertiary_container-rgb: 232 229 172;
    
    --matugen-on_tertiary_fixed-rgb: 29 29 0;
    
    --matugen-on_tertiary_fixed_variant-rgb: 73 73 30;
    
    --matugen-outline-rgb: 159 141 132;
    
    --matugen-outline_variant-rgb: 82 68 60;
    
    --matugen-primary-rgb: 255 182 138;
    
    --matugen-primary_container-rgb: 111 56 17;
    
    --matugen-primary_fixed-rgb: 255 219 200;
    
    --matugen-primary_fixed_dim-rgb: 255 182 138;
    
    --matugen-scrim-rgb: 0 0 0;
    
    --matugen-secondary-rgb: 229 191 169;
    
    --matugen-secondary_container-rgb: 92 65 49;
    
    --matugen-secondary_fixed-rgb: 255 219 200;
    
    --matugen-secondary_fixed_dim-rgb: 229 191 169;
    
    --matugen-shadow-rgb: 0 0 0;
    
    --matugen-source_color-rgb: 192 143 114;
    
    --matugen-surface-rgb: 26 18 13;
    
    --matugen-surface_bright-rgb: 65 55 50;
    
    --matugen-surface_container-rgb: 38 30 25;
    
    --matugen-surface_container_high-rgb: 49 40 35;
    
    --matugen-surface_container_highest-rgb: 61 51 45;
    
    --matugen-surface_container_low-rgb: 34 26 21;
    
    --matugen-surface_container_lowest-rgb: 20 13 8;
    
    --matugen-surface_dim-rgb: 26 18 13;
    
    --matugen-surface_tint-rgb: 255 182 138;
    
    --matugen-surface_variant-rgb: 82 68 60;
    
    --matugen-tertiary-rgb: 203 201 146;
    
    --matugen-tertiary_container-rgb: 73 73 30;
    
    --matugen-tertiary_fixed-rgb: 232 229 172;
    
    --matugen-tertiary_fixed_dim-rgb: 203 201 146;
    
}
