/* Matugen Dynamic Chrome Theme */

:root {
    /* Hex colors */
    
    --matugen-background: #111418;
    
    --matugen-error: #ffb4ab;
    
    --matugen-error_container: #93000a;
    
    --matugen-inverse_on_surface: #2e3035;
    
    --matugen-inverse_primary: #38608f;
    
    --matugen-inverse_surface: #e1e2e8;
    
    --matugen-on_background: #e1e2e8;
    
    --matugen-on_error: #690005;
    
    --matugen-on_error_container: #ffdad6;
    
    --matugen-on_primary: #00325b;
    
    --matugen-on_primary_container: #d3e4ff;
    
    --matugen-on_primary_fixed: #001c38;
    
    --matugen-on_primary_fixed_variant: #1d4875;
    
    --matugen-on_secondary: #263141;
    
    --matugen-on_secondary_container: #d7e3f8;
    
    --matugen-on_secondary_fixed: #101c2b;
    
    --matugen-on_secondary_fixed_variant: #3c4858;
    
    --matugen-on_surface: #e1e2e8;
    
    --matugen-on_surface_variant: #c3c6cf;
    
    --matugen-on_tertiary: #3c2947;
    
    --matugen-on_tertiary_container: #f4d9ff;
    
    --matugen-on_tertiary_fixed: #261431;
    
    --matugen-on_tertiary_fixed_variant: #533f5f;
    
    --matugen-outline: #8d9199;
    
    --matugen-outline_variant: #43474e;
    
    --matugen-primary: #a2c9fe;
    
    --matugen-primary_container: #1d4875;
    
    --matugen-primary_fixed: #d3e4ff;
    
    --matugen-primary_fixed_dim: #a2c9fe;
    
    --matugen-scrim: #000000;
    
    --matugen-secondary: #bbc7db;
    
    --matugen-secondary_container: #3c4858;
    
    --matugen-secondary_fixed: #d7e3f8;
    
    --matugen-secondary_fixed_dim: #bbc7db;
    
    --matugen-shadow: #000000;
    
    --matugen-source_color: #8ea1bd;
    
    --matugen-surface: #111418;
    
    --matugen-surface_bright: #37393e;
    
    --matugen-surface_container: #1d2024;
    
    --matugen-surface_container_high: #272a2f;
    
    --matugen-surface_container_highest: #32353a;
    
    --matugen-surface_container_low: #191c20;
    
    --matugen-surface_container_lowest: #0b0e13;
    
    --matugen-surface_dim: #111418;
    
    --matugen-surface_tint: #a2c9fe;
    
    --matugen-surface_variant: #43474e;
    
    --matugen-tertiary: #d8bde3;
    
    --matugen-tertiary_container: #533f5f;
    
    --matugen-tertiary_fixed: #f4d9ff;
    
    --matugen-tertiary_fixed_dim: #d8bde3;
    

    /* RGB values (great for transparency) */
    
    --matugen-background-rgb: 17 20 24;
    
    --matugen-error-rgb: 255 180 171;
    
    --matugen-error_container-rgb: 147 0 10;
    
    --matugen-inverse_on_surface-rgb: 46 48 53;
    
    --matugen-inverse_primary-rgb: 56 96 143;
    
    --matugen-inverse_surface-rgb: 225 226 232;
    
    --matugen-on_background-rgb: 225 226 232;
    
    --matugen-on_error-rgb: 105 0 5;
    
    --matugen-on_error_container-rgb: 255 218 214;
    
    --matugen-on_primary-rgb: 0 50 91;
    
    --matugen-on_primary_container-rgb: 211 228 255;
    
    --matugen-on_primary_fixed-rgb: 0 28 56;
    
    --matugen-on_primary_fixed_variant-rgb: 29 72 117;
    
    --matugen-on_secondary-rgb: 38 49 65;
    
    --matugen-on_secondary_container-rgb: 215 227 248;
    
    --matugen-on_secondary_fixed-rgb: 16 28 43;
    
    --matugen-on_secondary_fixed_variant-rgb: 60 72 88;
    
    --matugen-on_surface-rgb: 225 226 232;
    
    --matugen-on_surface_variant-rgb: 195 198 207;
    
    --matugen-on_tertiary-rgb: 60 41 71;
    
    --matugen-on_tertiary_container-rgb: 244 217 255;
    
    --matugen-on_tertiary_fixed-rgb: 38 20 49;
    
    --matugen-on_tertiary_fixed_variant-rgb: 83 63 95;
    
    --matugen-outline-rgb: 141 145 153;
    
    --matugen-outline_variant-rgb: 67 71 78;
    
    --matugen-primary-rgb: 162 201 254;
    
    --matugen-primary_container-rgb: 29 72 117;
    
    --matugen-primary_fixed-rgb: 211 228 255;
    
    --matugen-primary_fixed_dim-rgb: 162 201 254;
    
    --matugen-scrim-rgb: 0 0 0;
    
    --matugen-secondary-rgb: 187 199 219;
    
    --matugen-secondary_container-rgb: 60 72 88;
    
    --matugen-secondary_fixed-rgb: 215 227 248;
    
    --matugen-secondary_fixed_dim-rgb: 187 199 219;
    
    --matugen-shadow-rgb: 0 0 0;
    
    --matugen-source_color-rgb: 142 161 189;
    
    --matugen-surface-rgb: 17 20 24;
    
    --matugen-surface_bright-rgb: 55 57 62;
    
    --matugen-surface_container-rgb: 29 32 36;
    
    --matugen-surface_container_high-rgb: 39 42 47;
    
    --matugen-surface_container_highest-rgb: 50 53 58;
    
    --matugen-surface_container_low-rgb: 25 28 32;
    
    --matugen-surface_container_lowest-rgb: 11 14 19;
    
    --matugen-surface_dim-rgb: 17 20 24;
    
    --matugen-surface_tint-rgb: 162 201 254;
    
    --matugen-surface_variant-rgb: 67 71 78;
    
    --matugen-tertiary-rgb: 216 189 227;
    
    --matugen-tertiary_container-rgb: 83 63 95;
    
    --matugen-tertiary_fixed-rgb: 244 217 255;
    
    --matugen-tertiary_fixed_dim-rgb: 216 189 227;
    
}
