/* Matugen Dynamic Chrome Theme */

:root {
    /* Hex colors */
    
    --matugen-background: #131313;
    
    --matugen-error: #ffb4ab;
    
    --matugen-error_container: #93000a;
    
    --matugen-inverse_on_surface: #303030;
    
    --matugen-inverse_primary: #5e5e5e;
    
    --matugen-inverse_surface: #e2e2e2;
    
    --matugen-on_background: #e2e2e2;
    
    --matugen-on_error: #690005;
    
    --matugen-on_error_container: #ffdad6;
    
    --matugen-on_primary: #1b1b1b;
    
    --matugen-on_primary_container: #000000;
    
    --matugen-on_primary_fixed: #ffffff;
    
    --matugen-on_primary_fixed_variant: #e2e2e2;
    
    --matugen-on_secondary: #1b1b1b;
    
    --matugen-on_secondary_container: #e2e2e2;
    
    --matugen-on_secondary_fixed: #1b1b1b;
    
    --matugen-on_secondary_fixed_variant: #3b3b3b;
    
    --matugen-on_surface: #e2e2e2;
    
    --matugen-on_surface_variant: #c6c6c6;
    
    --matugen-on_tertiary: #1b1b1b;
    
    --matugen-on_tertiary_container: #000000;
    
    --matugen-on_tertiary_fixed: #ffffff;
    
    --matugen-on_tertiary_fixed_variant: #e2e2e2;
    
    --matugen-outline: #919191;
    
    --matugen-outline_variant: #474747;
    
    --matugen-primary: #ffffff;
    
    --matugen-primary_container: #d4d4d4;
    
    --matugen-primary_fixed: #5e5e5e;
    
    --matugen-primary_fixed_dim: #474747;
    
    --matugen-scrim: #000000;
    
    --matugen-secondary: #c6c6c6;
    
    --matugen-secondary_container: #474747;
    
    --matugen-secondary_fixed: #c6c6c6;
    
    --matugen-secondary_fixed_dim: #ababab;
    
    --matugen-shadow: #000000;
    
    --matugen-source_color: #4f5653;
    
    --matugen-surface: #131313;
    
    --matugen-surface_bright: #393939;
    
    --matugen-surface_container: #1f1f1f;
    
    --matugen-surface_container_high: #2a2a2a;
    
    --matugen-surface_container_highest: #353535;
    
    --matugen-surface_container_low: #1b1b1b;
    
    --matugen-surface_container_lowest: #0e0e0e;
    
    --matugen-surface_dim: #131313;
    
    --matugen-surface_tint: #c6c6c6;
    
    --matugen-surface_variant: #474747;
    
    --matugen-tertiary: #e2e2e2;
    
    --matugen-tertiary_container: #919191;
    
    --matugen-tertiary_fixed: #5e5e5e;
    
    --matugen-tertiary_fixed_dim: #474747;
    

    /* RGB values (great for transparency) */
    
    --matugen-background-rgb: 19 19 19;
    
    --matugen-error-rgb: 255 180 171;
    
    --matugen-error_container-rgb: 147 0 10;
    
    --matugen-inverse_on_surface-rgb: 48 48 48;
    
    --matugen-inverse_primary-rgb: 94 94 94;
    
    --matugen-inverse_surface-rgb: 226 226 226;
    
    --matugen-on_background-rgb: 226 226 226;
    
    --matugen-on_error-rgb: 105 0 5;
    
    --matugen-on_error_container-rgb: 255 218 214;
    
    --matugen-on_primary-rgb: 27 27 27;
    
    --matugen-on_primary_container-rgb: 0 0 0;
    
    --matugen-on_primary_fixed-rgb: 255 255 255;
    
    --matugen-on_primary_fixed_variant-rgb: 226 226 226;
    
    --matugen-on_secondary-rgb: 27 27 27;
    
    --matugen-on_secondary_container-rgb: 226 226 226;
    
    --matugen-on_secondary_fixed-rgb: 27 27 27;
    
    --matugen-on_secondary_fixed_variant-rgb: 59 59 59;
    
    --matugen-on_surface-rgb: 226 226 226;
    
    --matugen-on_surface_variant-rgb: 198 198 198;
    
    --matugen-on_tertiary-rgb: 27 27 27;
    
    --matugen-on_tertiary_container-rgb: 0 0 0;
    
    --matugen-on_tertiary_fixed-rgb: 255 255 255;
    
    --matugen-on_tertiary_fixed_variant-rgb: 226 226 226;
    
    --matugen-outline-rgb: 145 145 145;
    
    --matugen-outline_variant-rgb: 71 71 71;
    
    --matugen-primary-rgb: 255 255 255;
    
    --matugen-primary_container-rgb: 212 212 212;
    
    --matugen-primary_fixed-rgb: 94 94 94;
    
    --matugen-primary_fixed_dim-rgb: 71 71 71;
    
    --matugen-scrim-rgb: 0 0 0;
    
    --matugen-secondary-rgb: 198 198 198;
    
    --matugen-secondary_container-rgb: 71 71 71;
    
    --matugen-secondary_fixed-rgb: 198 198 198;
    
    --matugen-secondary_fixed_dim-rgb: 171 171 171;
    
    --matugen-shadow-rgb: 0 0 0;
    
    --matugen-source_color-rgb: 79 86 83;
    
    --matugen-surface-rgb: 19 19 19;
    
    --matugen-surface_bright-rgb: 57 57 57;
    
    --matugen-surface_container-rgb: 31 31 31;
    
    --matugen-surface_container_high-rgb: 42 42 42;
    
    --matugen-surface_container_highest-rgb: 53 53 53;
    
    --matugen-surface_container_low-rgb: 27 27 27;
    
    --matugen-surface_container_lowest-rgb: 14 14 14;
    
    --matugen-surface_dim-rgb: 19 19 19;
    
    --matugen-surface_tint-rgb: 198 198 198;
    
    --matugen-surface_variant-rgb: 71 71 71;
    
    --matugen-tertiary-rgb: 226 226 226;
    
    --matugen-tertiary_container-rgb: 145 145 145;
    
    --matugen-tertiary_fixed-rgb: 94 94 94;
    
    --matugen-tertiary_fixed_dim-rgb: 71 71 71;
    
}
