#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0b1419",
    floating_border_color: "#DDDBC4",
    focused_border_color: "#c2c4c5",
    background_color: "#0b1419",
)