/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #1a0b0b !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c2c2; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c2c2; background-color: rgba(120,134,140,0.4)}
.cm-s-nqqwal { background-color: #1a0b0b; color: #c5c2c2; }
.cm-s-nqqwal span.cm-builtin { color: #4A4F50; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #6f5a5a; }
.cm-s-nqqwal span.cm-keyword { color: #62696C; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #6A6F8E; }
.cm-s-nqqwal span.cm-def { color: #817D9A; }
.cm-s-nqqwal span.cm-variable { color: #78868C; }
.cm-s-nqqwal span.cm-variable-2 { color: #817D9A; }
.cm-s-nqqwal span.cm-string { color: #4A4F50; }
.cm-s-nqqwal span.cm-string-2 { color: #4A4F50; }
.cm-s-nqqwal span.cm-number { color: #817D9A; }
.cm-s-nqqwal span.cm-tag { color: #62696C; }
.cm-s-nqqwal span.cm-property { color: #78868C; }
.cm-s-nqqwal span.cm-attribute { color: #78868C; }
.cm-s-nqqwal span.cm-qualifier { color: #6A6F8E; }
.cm-s-nqqwal span.cm-meta { color: #817D9A; }
.cm-s-nqqwal span.cm-header { color: #62696C; }
.cm-s-nqqwal span.cm-operator { color: #62696C; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(129,125,154,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #62696C; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #1a0b0b); }
