#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#160909",
    floating_border_color: "#AEAEAE",
    focused_border_color: "#c4c1c1",
    background_color: "#160909",
)