* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #1b1e25;
    color1:     #637A86;
    color2:     #6E8A93;
    color3:     #7A9CA2;
    color4:     #7EA2A6;
    color5:     #8FBBBB;
    color6:     #92C0BE;
    color7:     #c6c6c8;
    color8:     #626878;
    color9:     #637A86;
    color10:    #6E8A93;
    color11:    #7A9CA2;
    color12:    #7EA2A6;
    color13:    #8FBBBB;
    color14:    #92C0BE;
    color15:    #c6c6c8;
}
